.footer {
    background: #262626;
    color: #fff;
    padding-bottom: 60px;
    padding-top: 50px;
    position: relative
}

@media (max-width: 768.98px) {
    .footer {
        padding-top: 30px;
    }
}



.footer__top {
    padding: 0 10rem
}

@media (max-width: 992.98px) {
    .footer__top {
        padding: 0 4rem
    }
}

.footer__content {
    display: flex;
    padding: 0 6.6rem 0 10rem;
    margin-top: 8rem
}

@media (max-width: 992.98px) {
    .footer__content {
        padding: 0 4rem
    }
}

@media (max-width: 768.98px) {
    .footer__content {
        flex-direction: column;
        margin-top: 6rem
    }
}

.footer__logo-copyright {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Regular, sans-serif;
    font-size: 26px;
    line-height: 3rem;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    justify-content: space-between
}

@media (max-width: 768.98px) {
    .footer__logo-copyright {
        margin-top: 2.6rem;
        order: 3
    }
}

.footer__logo {
    display: inline-block;
    margin-top: .5rem;
    position: relative
}

@media (max-width: 768.98px) {
    .footer__logo {
        margin-top: 3rem
    }
}

.footer__copyright {
    height: 1.4rem;
    margin-bottom: 1rem;
    width: 1.4rem
}

@media (max-width: 768.98px) {
    .footer__copyright {
        margin-top: 2.6rem
    }
}

.footer__address {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Regular, sans-serif;
    font-size: 26px;
    line-height: 3rem;
    color: #88888c;
    margin-left: 13.5vw;
    margin-top: .3rem
}

@media (max-width: 768.98px) {
    .footer__address {
        margin-left: 0;
        padding: 0
    }
}

.footer__address__heading {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Regular, sans-serif;
    font-size: 26px;
    line-height: 3rem;
    color: #fff;
    transition: all .6s ease
}

.footer__address--hidden .footer__address__heading {
    opacity: 0;
    transform: translateY(2rem)
}

.footer__address--visible .footer__address__heading {
    opacity: 1;
    transform: translateY(0)
}

.footer__address__p {
    transition: all .6s ease
}

.footer__address__p--0 {
    transition-delay: .07s
}

.footer__address__p--1 {
    transition-delay: .14s
}

.footer__address__p--2 {
    transition-delay: .21s
}

.footer__address--hidden .footer__address__p {
    opacity: 0;
    transform: translateY(2rem)
}

.footer__address--visible .footer__address__p {
    opacity: 1;
    transform: translateY(0)
}

.footer__contact {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Regular, sans-serif;
    font-size: 26px;
    line-height: 3rem;
    color: #88888c;
    margin-left: 11.2vw;
    margin-top: .3rem
}

@media (max-width: 768.98px) {
    .footer__contact {
        margin-left: 0;
        margin-top: 6rem;
        padding: 0
    }
}

.footer__contact__heading {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Regular, sans-serif;
    font-size: 26px;
    line-height: 3rem;
    color: #fff;
    transition: all .6s ease .28s
}

.footer__contact--hidden .footer__contact__heading {
    opacity: 0;
    transform: translateY(2rem)
}

.footer__contact--visible .footer__contact__heading {
    opacity: 1;
    transform: translateY(0)
}

.footer__contact__link {
    color: inherit;
    transition: color .1s linear;
    display: block
}

@media (-ms-high-contrast:none),
not all and (hover: none) {
    .footer__contact__link:hover {
        color: #fff
    }
}

.footer__contact__link--0 {
    transition: color .1s linear, opacity .6s ease .35s, transform .6s ease .35s
}

.footer__contact__link--1 {
    transition: color .1s linear, opacity .6s ease .42s, transform .6s ease .42s
}

.footer__contact--hidden .footer__contact__link {
    opacity: 0;
    transform: translateY(2rem)
}

.footer__contact--visible .footer__contact__link {
    opacity: 1;
    transform: translateY(0)
}

@media (-ms-high-contrast:none),
not all and (hover: none) {
    .footer__contact__link:hover path {
        fill: #fff
    }
}

.footer__contact__link:focus {
    color: #fff
}

.footer__contact__link:focus path {
    fill: #fff
}

.footer__contact__arrow {
    height: auto;
    padding-left: 1rem;
    width: 2.2rem
}

.footer__contact__arrow path {
    fill: #88888c;
    transition: all .1s linear
}

.footer__scroll-to-top {
    margin-left: auto;
    opacity: .44;
    padding: .6rem 2rem 0;
    transition: opacity .1s linear
}

@media (-ms-high-contrast:none),
not all and (hover: none) {
    .footer__scroll-to-top:hover {
        opacity: .8
    }
}

.footer__scroll-to-top:focus {
    opacity: 1
}

.footer__scroll-to-top__arrow {
    height: 12rem;
    border-right: .2rem solid #fff;
    position: relative
}

.footer__scroll-to-top__arrow:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    border-left: 6px solid #fff;
    right: -4px;
    transform: rotate(-90deg);
    top: -.6rem
}

@media (max-width: 768.98px) {
    .footer__scroll-to-top__arrow {
        display: none
    }
}

.ie-fallback {
    background-color: #0e2138;
    display: none;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 9
}

@media (-ms-high-contrast:active),
(-ms-high-contrast:none) {
    .ie-fallback {
        display: block
    }
}

.ie-fallback__content {
    left: 50%;
    margin-top: -6rem;
    max-width: 120rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%
}

.ie-fallback__tagline {
    color: #88888c;
    display: block;
    font-size: 20px;
    margin-top: 2.5rem
}

.ie-fallback__heading {
    font-style: normal;
    font-stretch: normal;
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smooth: always;
    font-family: DIN Bold, sans-serif;
    font-size: 34px;
    line-height: 4.1rem;
    text-transform: uppercase;
    color: #fff;
    margin: 7.5rem 0 0
}

.ie-fallback__link {
    color: inherit;
    transition: color .1s linear;
    color: #88888c;
    display: block;
    font-size: 24px;
    text-decoration: underline
}

@media (-ms-high-contrast:none),
not all and (hover: none) {
    .ie-fallback__link:hover {
        color: #fff
    }
}

.ie-fallback__link--chrome {
    margin-top: 6rem
}

.ie-fallback__link--contact {
    bottom: 8rem;
    left: 50%;
    transform: translateX(-50%);
    position: absolute
}