.project {
    margin: auto;
    margin-top: 60px;
}


@media (min-width: 48em) {
    .project {
        margin: auto;
        margin-top: 120px;
    }
}

@media (min-width: 62em) {
    .project {
        margin: auto;
        margin-top: 200px;
    }
}

.projects-heading {
    text-align: center;
    color: white;
    font-size: 4vw;
    font-weight: 400;
    margin-top: 40px
}

@media (min-width: 48em) {
    .project-container.project-container-left .project-image {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-flow: row-reverse;
        flex-flow: row-reverse;
        padding-right: 80px;
        padding-left: 0;
    }
}

.project-image {
    max-width: 1280px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    padding: 30px;
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

@media (min-width: 48em) {
    .project-image {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-flow: row;
        flex-flow: row;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 160px 0;
        padding-left: 80px;
    }
}

.project-container {
    position: relative;
}


.project-description {
    max-width: 400px;
    padding-top: 40px;
    line-height: 2;
    ;
}

@media (max-width: 768.98px) {
    .project-description {
        padding-top: 0;
        text-align: justify;
    }
}


.project-content {
    position: relative;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-flow: column;
    flex-flow: column;
    z-index: 1;
    width: 100%;
    padding-right: 30px;
    color: white
}

@media (min-width: 48em) {
    .project-content {
        padding-right: 50px;
    }
}

.project-content h4,
.project-content p {
    opacity: 0;
}

.project-content .lines {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    will-change: transform;
    display: inline-block;
    -webkit-transform-origin: 0;
    transform-origin: 0;
}

@media (min-width: 48em) {
    .project-content.XThHOeZSg7Fj03DSsM08H_1 {
        text-align: left;
        padding-right: 0;
        padding-left: 50px;
    }

    .project-content.XThHOeZSg7Fj03DSsM08H_1 .lines {
        -webkit-transform-origin: 100%;
        transform-origin: 100%;
    }

    .project-content.XThHOeZSg7Fj03DSsM08H_1 ._2U-mJOolMgpvYwAFqQWkG3_1::before {
        right: auto;
        left: 100%;
    }
}

.project-background {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    background-color: #151515;
    z-index: -1;
}

@media (min-width: 48em) {
    .project-background {
        display: block;
    }
}

.project-background.project-background-right {
    left: auto;
    right: 0;
}

.project-image-container ._18uU3mvi7ipb46QxvysCm0_0.project-background {
    background-position: 0 50%;
}

._3SeE1wSYjAm_i4tK0XENVn_0._1ebsARV9t7PJciy3UtGwhF_0,
.project-image-container._1ebsARV9t7PJciy3UtGwhF_0 {
    -webkit-perspective: 1000px;
    perspective: 1000px;
}

.project-image-container {
    position: relative;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: hidden;
}

@media (min-width: 48em) {
    .project-image-container {
        width: 50%;
        min-height: 470px;
    }
}

@media (min-width: 64.0625em) {
    .project-image-container {
        width: 60%;
        min-height: none;
    }
}

.project-image-container:before {
    content: "";
    display: block;
    width: 100%;
    padding-bottom: 80%;
}

.project-image-container ._18uU3mvi7ipb46QxvysCm0_0 {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}



._1ebsARV9t7PJciy3UtGwhF_0 [lazy] {
    -webkit-transition: all 1.5s cubic-bezier(0.29, 0.67, 0, 1) 0.2s;
    transition: all 1.5s cubic-bezier(0.29, 0.67, 0, 1) 0.2s;
}

._1ebsARV9t7PJciy3UtGwhF_0 [lazy=loading] {
    -webkit-transform: translate3d(0, 200px, 100px);
    transform: translate3d(0, 200px, 100px);
    clip-path: inset(100% 0 0 0);
    -webkit-clip-path: inset(100% 0 0 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

._1ebsARV9t7PJciy3UtGwhF_0 [lazy=loaded] {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    clip-path: inset(0 0 0 0);
    -webkit-clip-path: inset(0 0 0 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.project-image-container._1ebsARV9t7PJciy3UtGwhF_0 [lazy=loading] {
    -webkit-transform: translate3d(0, 200px, 100px) scale(2);
    transform: translate3d(0, 200px, 100px) scale(2);
}

.project-image-container._1ebsARV9t7PJciy3UtGwhF_0 [lazy=loaded] {
    -webkit-transform: translate3d(0, 0, 0) scale(1);
    transform: translate3d(0, 0, 0) scale(1);
}

._1uaKFDR73w5vU6myoGo-f0_0 {
    width: 100%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
}

@media (min-width: 48em) {
    ._1uaKFDR73w5vU6myoGo-f0_0 {
        width: 100%;
        -webkit-box-flex: 1;
        -ms-flex: auto;
        flex: auto;
    }
}



.LSYt5OCs9xvjtPkNQDK2i_0 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 100%;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

@media (min-width: 48em) {
    .LSYt5OCs9xvjtPkNQDK2i_0 {
        width: 45%;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-flow: column;
        flex-flow: column;
    }
}

@media (min-width: 64.0625em) {
    .LSYt5OCs9xvjtPkNQDK2i_0 {
        width: 30%;
    }
}